Der Datensatz ist von [hier](https://www.ibm.com/communities/analytics/watson-analytics-blog/marketing-customer-value-analysis/).

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
df = pd.read_csv('marketing_customer_marketing_raw_data.csv')

In [5]:
df.shape

(9134, 24)

In [6]:
display(df.head())

  Customer       State  Customer Lifetime Value Response  Coverage Education Effective To Date EmploymentStatus Gender  Income Location Code Marital Status  Monthly Premium Auto  Months Since Last Claim  Months Since Policy Inception  Number of Open Complaints  Number of Policies     Policy Type        Policy Renew Offer Type Sales Channel  Total Claim Amount  Vehicle Class Vehicle Size
0  BU79786  Washington              2763.519279       No     Basic  Bachelor           2/24/11         Employed      F   56274      Suburban        Married                    69                       32                              5                          0                   1  Corporate Auto  Corporate L3           Offer1         Agent          384.811147   Two-Door Car      Medsize
1  QZ44356     Arizona              6979.535903       No  Extended  Bachelor           1/31/11       Unemployed      F       0      Suburban         Single                    94                       13                             42                          0                   8   Personal Auto   Personal L3           Offer3         Agent         1131.464935  Four-Door Car      Medsize
2  AI49188      Nevada             12887.431650       No   Premium  Bachelor           2/19/11         Employed      F   48767      Suburban        Married                   108                       18                             38                          0                   2   Personal Auto   Personal L3           Offer1         Agent          566.472247   Two-Door Car      Medsize
3  WW63253  California              7645.861827       No     Basic  Bachelor           1/20/11       Unemployed      M       0      Suburban        Married                   106                       18                             65                          0                   7  Corporate Auto  Corporate L2           Offer1   Call Center          529.881344            SUV      Medsize
4  HB64268  Washington              2813.692575       No     Basic  Bachelor            2/3/11         Employed      M   43836         Rural         Single                    73                       12                             44                          0                   1   Personal Auto   Personal L1           Offer1         Agent          138.130879  Four-Door Car      Medsize

In [7]:
df.describe()

       Customer Lifetime Value        Income  Monthly Premium Auto  Months Since Last Claim  Months Since Policy Inception  Number of Open Complaints  Number of Policies  Total Claim Amount
count              9134.000000   9134.000000           9134.000000              9134.000000                    9134.000000                9134.000000         9134.000000         9134.000000
mean               8004.940475  37657.380009             93.219291                15.097000                      48.064594                   0.384388            2.966170          434.088794
std                6870.967608  30379.904734             34.407967                10.073257                      27.905991                   0.910384            2.390182          290.500092
min                1898.007675      0.000000             61.000000                 0.000000                       0.000000                   0.000000            1.000000            0.099007
25%                3994.251794      0.000000             68.000000                 6.000000                      24.000000                   0.000000            1.000000          272.258244
50%                5780.182197  33889.500000             83.000000                14.000000                      48.000000                   0.000000            2.000000          383.945434
75%                8962.167041  62320.000000            109.000000                23.000000                      71.000000                   0.000000            4.000000          547.514839
max               83325.381190  99981.000000            298.000000                35.000000                      99.000000                   5.000000            9.000000         2893.239678

In [8]:
df.describe(exclude=[np.number])

       Customer       State Response Coverage Education Effective To Date EmploymentStatus Gender Location Code Marital Status    Policy Type       Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
count      9134        9134     9134     9134      9134              9134             9134   9134          9134           9134           9134         9134             9134          9134           9134         9134
unique     9134           5        2        3         5                59                5      2             3              3              3            9                4             4              6            3
top     DZ38951  California       No    Basic  Bachelor           1/10/11         Employed      F      Suburban        Married  Personal Auto  Personal L3           Offer1         Agent  Four-Door Car      Medsize
freq          1        3150     7826     5568      2748               195             5698   4658          5779           5298           6788         3426             3752          3477           4621         6424

In [9]:
df.isnull().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
Customer                         9134 non-null object
State                            9134 non-null object
Customer Lifetime Value          9134 non-null float64
Response                         9134 non-null object
Coverage                         9134 non-null object
Education                        9134 non-null object
Effective To Date                9134 non-null object
EmploymentStatus                 9134 non-null object
Gender                           9134 non-null object
Income                           9134 non-null int64
Location Code                    9134 non-null object
Marital Status                   9134 non-null object
Monthly Premium Auto             9134 non-null int64
Months Since Last Claim          9134 non-null int64
Months Since Policy Inception    9134 non-null int64
Number of Open Complaints        9134 non-null int64
Number of Policies               9134 non-null int64
Policy Type                      9134 non-null object
Policy                           9134 non-null object
Renew Offer Type                 9134 non-null object
Sales Channel                    9134 non-null object
Total Claim Amount               9134 non-null float64
Vehicle Class                    9134 non-null object
Vehicle Size                     9134 non-null object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

__Regression:__  
Customer Lifetime Value

__Classification:__  
Marital Status