# Marketinganalyse

Modulprojekt für die Vorlesung __Applied Statistics__

_Dozent:_ Prof. Dr. Jan Kirenz
_Studenten:_ Stephanie Flohr, Benedikt Haußner, Robert Masendorf

**Hinweis:** Zu korrekten Darstellung der Ergebnisse in den MarkDowns muss die Nbextension ```Python Markdown``` aktiviert sein. Zusätzlich muss ein ```Trusted```Kernel verwendet werden.

In [1]:
#import sys
#if not sys.warnoptions:
import warnings
warnings.simplefilter("ignore")

In [2]:
import pandas as pd
import numpy as np

#### 1 Import data
First you must **import** your data into Python. This typically means that you take data stored in a file, database, or web API, and load it into a DataFrame in Python (using pandas).

Der Datensatz ist von [hier](https://www.ibm.com/communities/analytics/watson-analytics-blog/marketing-customer-value-analysis/).

In [8]:
#pd.set_option('display.height', 1000) => ist in der Dokumentation nicht mehr aufgeführt
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [5]:
df = pd.read_csv('marketing_customer_marketing_raw_data.csv')

In [6]:
df.shape

(9134, 24)

In [10]:
df.describe()

       Customer Lifetime Value        Income  Monthly Premium Auto  Months Since Last Claim  Months Since Policy Inception  Number of Open Complaints  Number of Policies  Total Claim Amount
count              9134.000000   9134.000000           9134.000000              9134.000000                    9134.000000                9134.000000         9134.000000         9134.000000
mean               8004.940475  37657.380009             93.219291                15.097000                      48.064594                   0.384388            2.966170          434.088794
std                6870.967608  30379.904734             34.407967                10.073257                      27.905991                   0.910384            2.390182          290.500092
min                1898.007675      0.000000             61.000000                 0.000000                       0.000000                   0.000000            1.000000            0.099007
25%                3994.251794      0.000000             68.000000                 6.000000                      24.000000                   0.000000            1.000000          272.258244
50%                5780.182197  33889.500000             83.000000                14.000000                      48.000000                   0.000000            2.000000          383.945434
75%                8962.167041  62320.000000            109.000000                23.000000                      71.000000                   0.000000            4.000000          547.514839
max               83325.381190  99981.000000            298.000000                35.000000                      99.000000                   5.000000            9.000000         2893.239678

In [11]:
df.describe(exclude=[np.number])

       Customer       State Response Coverage Education Effective To Date EmploymentStatus Gender Location Code Marital Status    Policy Type       Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
count      9134        9134     9134     9134      9134              9134             9134   9134          9134           9134           9134         9134             9134          9134           9134         9134
unique     9134           5        2        3         5                59                5      2             3              3              3            9                4             4              6            3
top     BK85520  California       No    Basic  Bachelor           1/10/11         Employed      F      Suburban        Married  Personal Auto  Personal L3           Offer1         Agent  Four-Door Car      Medsize
freq          1        3150     7826     5568      2748               195             5698   4658          5779           5298           6788         3426             3752          3477           4621         6424

#### 2 Tidying data
Once you’ve imported your data, it is a good idea to tidy it. **Tidying** your data means storing it in a consistent form that matches the semantics of the dataset with the way it is stored. In brief, when your data is tidy, each column is a variable, and each row is an observation. Tidy data is important because the consistent structure lets you focus your struggle on questions about the data.

In [12]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage', 'Education', 'Effective To Date', 'EmploymentStatus', 'Gender', 'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size'], dtype='object')

In [7]:
display(df.head())

  Customer       State  Customer Lifetime Value Response  Coverage Education Effective To Date EmploymentStatus Gender  Income Location Code Marital Status  Monthly Premium Auto  Months Since Last Claim  Months Since Policy Inception  Number of Open Complaints  Number of Policies     Policy Type        Policy Renew Offer Type Sales Channel  Total Claim Amount  Vehicle Class Vehicle Size
0  BU79786  Washington              2763.519279       No     Basic  Bachelor           2/24/11         Employed      F   56274      Suburban        Married                    69                       32                              5                          0                   1  Corporate Auto  Corporate L3           Offer1         Agent          384.811147   Two-Door Car      Medsize
1  QZ44356     Arizona              6979.535903       No  Extended  Bachelor           1/31/11       Unemployed      F       0      Suburban         Single                    94                       13                             42                          0                   8   Personal Auto   Personal L3           Offer3         Agent         1131.464935  Four-Door Car      Medsize
2  AI49188      Nevada             12887.431650       No   Premium  Bachelor           2/19/11         Employed      F   48767      Suburban        Married                   108                       18                             38                          0                   2   Personal Auto   Personal L3           Offer1         Agent          566.472247   Two-Door Car      Medsize
3  WW63253  California              7645.861827       No     Basic  Bachelor           1/20/11       Unemployed      M       0      Suburban        Married                   106                       18                             65                          0                   7  Corporate Auto  Corporate L2           Offer1   Call Center          529.881344            SUV      Medsize
4  HB64268  Washington              2813.692575       No     Basic  Bachelor            2/3/11         Employed      M   43836         Rural         Single                    73                       12                             44                          0                   1   Personal Auto   Personal L1           Offer1         Agent          138.130879  Four-Door Car      Medsize

In [15]:
# Chek for duplicates and print results
print(f'Customer: {len(df["Customer"])}')
# Count the number of individual customers
print(f'Unique Customer: {len(df["Customer"].value_counts())}')

Customer: 9134
Unique Customer: 9134

In [18]:
# Change column name => some columns could not use
df = df.rename(index=str, columns={"Customer Lifetime Value":"Customer_Lifetime_Value",
                                   "Effective To Date":"Effective_To_Date", 
                                   "EmploymentStatus":"Employment_Status", 
                                   "Location Code":"Location_Code", 
                                   "Marital Status":"Marital_Status",
                                   "Monthly Premium Auto":"Monthly_Premium_Auto",
                                   "Months Since Last Claim":"Months_Since_Last_Claim",
                                   "Months Since Policy Inception":"Months_Since_Policy_Inception",
                                   "Number of Open Complaints":"Number_of_Open_Complaints",
                                   "Number of Policies":"Number_of_Policies",
                                   "Policy Type":"Policy_Type",
                                   "Renew Offer Type":"Renew_Offer_Type",
                                   "Sales Channel":"Sales_Channel",
                                   "Total Claim Amount":"Total_Claim_Amount",
                                   "Vehicle Class":"Vehicle_Class", 
                                   "Vehicle Size":"Vehicle Size"})

In [19]:
df.head()

  Customer       State  Customer_Lifetime_Value Response  Coverage Education Effective_To_Date Employment_Status Gender  Income Location_Code Marital_Status  Monthly_Premium_Auto  Months_Since_Last_Claim  Months_Since_Policy_Inception  Number_of_Open_Complaints  Number_of_Policies     Policy_Type        Policy Renew_Offer_Type Sales_Channel  Total_Claim_Amount  Vehicle_Class Vehicle Size
0  BU79786  Washington              2763.519279       No     Basic  Bachelor           2/24/11          Employed      F   56274      Suburban        Married                    69                       32                              5                          0                   1  Corporate Auto  Corporate L3           Offer1         Agent          384.811147   Two-Door Car      Medsize
1  QZ44356     Arizona              6979.535903       No  Extended  Bachelor           1/31/11        Unemployed      F       0      Suburban         Single                    94                       13                             42                          0                   8   Personal Auto   Personal L3           Offer3         Agent         1131.464935  Four-Door Car      Medsize
2  AI49188      Nevada             12887.431650       No   Premium  Bachelor           2/19/11          Employed      F   48767      Suburban        Married                   108                       18                             38                          0                   2   Personal Auto   Personal L3           Offer1         Agent          566.472247   Two-Door Car      Medsize
3  WW63253  California              7645.861827       No     Basic  Bachelor           1/20/11        Unemployed      M       0      Suburban        Married                   106                       18                             65                          0                   7  Corporate Auto  Corporate L2           Offer1   Call Center          529.881344            SUV      Medsize
4  HB64268  Washington              2813.692575       No     Basic  Bachelor            2/3/11          Employed      M   43836         Rural         Single                    73                       12                             44                          0                   1   Personal Auto   Personal L1           Offer1         Agent          138.130879  Four-Door Car      Medsize

In [23]:
df.State.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

#### 3 Transform data
Once you have tidy data, a common first step is to transform it. **Transformation** includes narrowing in on observations of interest (like all people in one city, or all data from the last year), creating new variables that are functions of existing variables (like computing velocity from speed and time), and calculating a set of summary statistics (like counts or means). Together, tidying and transforming are called wrangling, because getting your data in a form that’s natural to work with often feels like a fight!

#### 4 Visualize data
Once you have tidy data with the variables you need, there are two main engines of knowledge generation: visualisation and modelling. These have complementary strengths and weaknesses so any real analysis will iterate between them many times.

**Visualisation** is a fundamentally human activity. A good visualisation will show you things that you did not expect, or raise new questions about the data. A good visualisation might also hint that you’re asking the wrong question, or you need to collect different data. Visualisations can surprise you, but don’t scale particularly well because they require a human to interpret them.

#### 5 Models
**Models** are complementary tools to visualisation. Once you have made your questions sufficiently precise, you can use a model to answer them. Models are a fundamentally mathematical or computational tool, so they generally scale well. But every model makes assumptions, and by its very nature a model cannot question its own assumptions. That means a model cannot fundamentally surprise you.

#### 6 Communication
The last step is **communication**, an absolutely critical part of any data analysis project. It doesn’t matter how well your models and visualisation have led you to understand the data unless you can also communicate your results to others.

Surrounding all these tools is **programming**. Programming is a cross-cutting tool that you use in every part of the project. You don’t need to be an expert programmer to be a data scientist, but learning more about programming pays off because becoming a better programmer allows you to automate common tasks, and solve new problems with greater ease.

Source: Wickham/Grolemund, 2016

Das Projekt folgt dem __Vorgehensmodell__ von CRISP_DM.

<img align="left" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/CRISP-DM_Process_Diagram.png" width="400"/>

# BUSINESS UNDERSTANDING: Ursprung und grober Inhalt des Datensatzes

__ToDo:__
+ Woher sind die Daten?
+ In welchem Rahmen wurden sie erhoben?
+ Welchen Umfang haben sie?

In [ ]:
#import sys
#if not sys.warnoptions:
import warnings
warnings.simplefilter("ignore")

In [ ]:
import pandas as pd
import numpy as np

## DATA UNDERSTANDING: Was wissen wir und was wollen wir wissen?

## Initiale Datensammlung

Der Datensatz ist von [hier](https://www.ibm.com/communities/analytics/watson-analytics-blog/marketing-customer-value-analysis/).

In [ ]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
df = pd.read_csv('marketing_customer_marketing_raw_data.csv')

In [ ]:
df.shape

In [ ]:
display(df.head())

## Beschreibung der Daten

In [ ]:
df.describe()

In [ ]:
df.describe(exclude=[np.number])

In [ ]:
df.isnull().sum()

## Datenexploration

## Betrachtung der Datenqualität

# DATA PREPARATION:

# MODELLING

# EVALUATION

# DEPLOYMENT

## Positives
## Negatives
## Next Steps

### Detect columns type

In [ ]:
df.info()

__Regression:__  
Customer Lifetime Value

__Classification:__  
Marital Status