__Marketinganalyse__

Modulprojekt für die Vorlesung __Applied Statistics__

_Dozent:_ Prof. Dr. Jan Kirenz
_Studenten:_ Stephanie Flohr, Benedikt Haußner, Robert Masendorf

**Hinweis:** Zu korrekten Darstellung der Ergebnisse in den MarkDowns muss die Nbextension ```Python Markdown``` aktiviert sein. Zusätzlich muss ein ```Trusted```Kernel verwendet werden.

In [1]:
#import sys
#if not sys.warnoptions:
#import warnings
#warnings.simplefilter("ignore")

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.set_option('display.max_columns',24)

# Import data

Die von [hier](https://www.ibm.com/communities/analytics/watson-analytics-blog/marketing-customer-value-analysis/) verwendeten Daten wurden im März 2015 von der IBM als Beispieldatensatz unter dem Namen `SAMPLE DATA: Marketing Customer Value Analysis`veröffentlicht.

In [3]:
df = pd.read_csv('marketing_customer_marketing_raw_data.csv')

In [4]:
df.shape

(9134, 24)

In [5]:
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

# Understanding Columns  
**Customer_ID:**  
Eindeutig Kombination aus Buchstaben und Zahlen, zur Identifizierung des Kundens.  
  
**State:**  
Bundesstaat in den Vereinigten Staaten, in welchem der Kunde wohnt.  
  
**Customer_Lifetime_Value:**  
Durchschnittlicher Wert des Kundens für das Unternehmen während seines gesamten Lebenszyklus. Der Wert ist diskontiert auf den Betrachtungszeitpunkt.  
  
**Response:**  
Binärer Wert, ob der Kunde auf die Marketingmaßnahme reagiert hat.  
  
**Coverage:**  
Der aktuelle Tarif, in welchem sich der angesprochene Kunde befindet.  
  
**Education:**  
Der Bildungsstatus des angesprochenen Kunden.  
  
**Effective_To_Date:**  
Laufzeitende der aktuellen Versicherung.  
  
**Employment_Status:**  
Arbeitsverhältnis des Kundens.

**Gender:**  
Geschlecht des Kundens.  
  
**Income:**  
Jährliches Einkommen des Kundens in Dollar.  
  
**Location_Code:**  
Wohnumgebung des Kundens in Bezug auf die Flächenverdichtung.  
  
**Marital_Status:**  
Familienstand des Kundens.  
  
**Monthly_Premium_Auto:**  
Monatliche Versicherungsrate.  
  
**Months_Since_Last_Claim:**  
Vergangene Monate seit dem die Versicherung zuletzt in Anspruch genommen wurde.  
  
**Months_Since_Policy_Inception:**  
Vergangene Monate seit Beginn der aktuellen Verischerungspolice.  

**Number_of_Open_Complaints:**  
Anzahl der noch offenen Schadensfälle.  

**Number_of_Policies:**  
Gesamtanzahl der Policen seit Versicherungsbeginn.  
  
**Policy_Type:**  
Feststellung, ob es sich um eine private, eine geschäftliche oder eine Sonderpolice handelt.  
  
**Policy:**  
Akuelle Tarifstufe, in der der Kunde sich befindet.  
  
**Renew_Offer_Type:**  
Das dem Kunden unterbreitete neue Angebot.  
  
**Sales_Channel:**  
Der Kanal, über welchen das Angebot übermittelt wurde.  
  
**Total_Claim_Amount:**  
In Anspruch genommene Versicherungssumme.  
  
**Vehicle_Class:**  
Art des versicherten Autos.  
  
**Vehicle_Size:**  
Größenordnung des versicherten Autos.

# Tidying data

## Data inspection

In [6]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [7]:
# Change column name => some columns could not use
df = df.rename(index=str, columns={"Customer":"Customer_ID",
                                   "Customer Lifetime Value":"Customer_Lifetime_Value",
                                   "Effective To Date":"Effective_To_Date", 
                                   "EmploymentStatus":"Employment_Status", 
                                   "Location Code":"Location_Code", 
                                   "Marital Status":"Marital_Status",
                                   "Monthly Premium Auto":"Monthly_Premium_Auto",
                                   "Months Since Last Claim":"Months_Since_Last_Claim",
                                   "Months Since Policy Inception":"Months_Since_Policy_Inception",
                                   "Number of Open Complaints":"Number_of_Open_Complaints",
                                   "Number of Policies":"Number_of_Policies",
                                   "Policy Type":"Policy_Type",
                                   "Renew Offer Type":"Renew_Offer_Type",
                                   "Sales Channel":"Sales_Channel",
                                   "Total Claim Amount":"Total_Claim_Amount",
                                   "Vehicle Class":"Vehicle_Class", 
                                   "Vehicle Size":"Vehicle_Size"})

## Duplikat Check

### Einfacher Duplikatscheck

In [8]:
# Chek for duplicates and print results
print('Customer:\t\t{}'.format(len(df.Customer_ID)))
# Count the number of individual customers
print('Unique Customer:\t{}'.format(len(df.Customer_ID.value_counts())))

Customer:		9134
Unique Customer:	9134

### Komplexer Duplikatscheck

**ToDo:** zweiter Duplikat Check, Hinweise finden ob jemand mehrfach versichert ist

## Datentypen

### Speicherverbrauch vor Transformation

In [9]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 9134 entries, 0 to 9133
Data columns (total 24 columns):
Customer_ID                      9134 non-null object
State                            9134 non-null object
Customer_Lifetime_Value          9134 non-null float64
Response                         9134 non-null object
Coverage                         9134 non-null object
Education                        9134 non-null object
Effective_To_Date                9134 non-null object
Employment_Status                9134 non-null object
Gender                           9134 non-null object
Income                           9134 non-null int64
Location_Code                    9134 non-null object
Marital_Status                   9134 non-null object
Monthly_Premium_Auto             9134 non-null int64
Months_Since_Last_Claim          9134 non-null int64
Months_Since_Policy_Inception    9134 non-null int64
Number_of_Open_Complaints        9134 non-null int64
Number_of_Policies               9134 non-null int64
Policy_Type                      9134 non-null object
Policy                           9134 non-null object
Renew_Offer_Type                 9134 non-null object
Sales_Channel                    9134 non-null object
Total_Claim_Amount               9134 non-null float64
Vehicle_Class                    9134 non-null object
Vehicle_Size                     9134 non-null object
dtypes: float64(2), int64(6), object(16)
memory usage: 10.1 MB

### Umwandlung zu Datetime

In [10]:
df.Effective_To_Date = pd.to_datetime(df.Effective_To_Date)

### Umwandlung in kategoriale Variablen

In [11]:
# Select categorical variable
# Categorical (Binary (1/0), Nominal (mehrere kategorischen Ausprägungen, nicht sortiert), Ordinal (sortierbar))
df.State = pd.Categorical(df.State)
df.Response = pd.Categorical(df.Response)
df.Coverage = pd.Categorical(df.Coverage)
df.Education = pd.Categorical(df.Education)
df.Employment_Status = pd.Categorical(df.Employment_Status)
df.Gender = pd.Categorical(df.Gender)
df.Location_Code = pd.Categorical(df.Location_Code)
df.Marital_Status = pd.Categorical(df.Marital_Status)
df.Policy_Type = pd.Categorical(df.Policy_Type)
df.Policy = pd.Categorical(df.Policy)
df.Renew_Offer_Type = pd.Categorical(df.Renew_Offer_Type)
df.Sales_Channel = pd.Categorical(df.Sales_Channel)
df.Vehicle_Class = pd.Categorical(df.Vehicle_Class)
df.Vehicle_Size = pd.Categorical(df.Vehicle_Size)

### Umwandlung der Integervariablen

In [12]:
pd.DataFrame(index=['max'], data={"uint8":[np.iinfo("uint8").max],
                                  "uint16":[np.iinfo("uint16").max],
                                  "uint32":[np.iinfo("uint32").max],
                                  "uint64":[np.iinfo("uint64").max]})

     uint8  uint16      uint32                uint64
max    255   65535  4294967295  18446744073709551615

In [13]:
df.describe(include=np.int_)

,Income,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_of_Open_Complaints,Number_of_Policies
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170
std,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182
min,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000
50%,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000
75%,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000
max,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000

In [14]:
int_columns = df.select_dtypes(include='int').columns
df[int_columns] = df[int_columns].apply(pd.to_numeric,downcast='unsigned')

In [15]:
df[int_columns].dtypes

Income                           uint32
Monthly_Premium_Auto             uint16
Months_Since_Last_Claim           uint8
Months_Since_Policy_Inception     uint8
Number_of_Open_Complaints         uint8
Number_of_Policies                uint8
dtype: object

### Umwandlung der Float Variablen

In [16]:
pd.DataFrame(index=['max'], data={"float16":[np.finfo("float16").max],
                                  "float32":[np.finfo("float32").max],
                                  "float64":[np.finfo("float64").max]})

     float16       float32        float64
max  65504.0  3.402823e+38  1.797693e+308

In [17]:
df.describe(include="float_")

       Customer_Lifetime_Value  Total_Claim_Amount
count              9134.000000         9134.000000
mean               8004.940475          434.088794
std                6870.967608          290.500092
min                1898.007675            0.099007
25%                3994.251794          272.258244
50%                5780.182197          383.945434
75%                8962.167041          547.514839
max               83325.381190         2893.239678

In [20]:
float_columns = df.select_dtypes(include='float').columns
df[float_columns] = df[float_columns].apply(pd.to_numeric, downcast='float')

In [21]:
df[float_columns].dtypes

Customer_Lifetime_Value    float32
Total_Claim_Amount         float32
dtype: object

### Speicherverbauch nach Transformation

In [23]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 9134 entries, 0 to 9133
Data columns (total 24 columns):
Customer_ID                      9134 non-null object
State                            9134 non-null category
Customer_Lifetime_Value          9134 non-null float32
Response                         9134 non-null category
Coverage                         9134 non-null category
Education                        9134 non-null category
Effective_To_Date                9134 non-null datetime64[ns]
Employment_Status                9134 non-null category
Gender                           9134 non-null category
Income                           9134 non-null uint32
Location_Code                    9134 non-null category
Marital_Status                   9134 non-null category
Monthly_Premium_Auto             9134 non-null uint16
Months_Since_Last_Claim          9134 non-null uint8
Months_Since_Policy_Inception    9134 non-null uint8
Number_of_Open_Complaints        9134 non-null uint8
Number_of_Policies               9134 non-null uint8
Policy_Type                      9134 non-null category
Policy                           9134 non-null category
Renew_Offer_Type                 9134 non-null category
Sales_Channel                    9134 non-null category
Total_Claim_Amount               9134 non-null float32
Vehicle_Class                    9134 non-null category
Vehicle_Size                     9134 non-null category
dtypes: category(14), datetime64[ns](1), float32(2), object(1), uint16(1), uint32(1), uint8(4)
memory usage: 1.4 MB

In [ ]:
print('Ordinal: Customer_Lifetime_Value', df.Customer_Lifetime_Value.unique())
print('Binary: Response', df.Response.unique())
print('Intervall: Effective_To_Date', df.Effective_To_Date.unique())
print('Ordinal: Income', df.Income.unique())
print('Ordinal: Monthly_Premium_Auto', df.Monthly_Premium_Auto.unique())
print('Ordinal: Months_Since_Last_Claim', df.Months_Since_Last_Claim.unique())
print('Ordinal: Months_Since_Policy_Inception', df.Months_Since_Policy_Inception.unique())
print('Ordinal: Number_of_Open_Complaints', df.Number_of_Open_Complaints.unique())
print('Ordinal: Number_of_Policies', df.Number_of_Policies.unique())

In [ ]:
# Nonnumberic Values
print('Nominal: State', df.State.unique())
print('Ordinal: Coverage', df.Coverage.unique())
print('Ordinal: Education', df.Education.unique())
print('Nominal: Employment_Status', df.Employment_Status.unique())
print('Binary: Gender', df.Gender.unique())
print('Nominal: Location_Code', df.Location_Code.unique())
print('Nominal: Marital_Status', df.Marital_Status.unique())
print('Nominal: Policy_Type', df.Policy_Type.unique())
print('Ordinal: Policy', df.Policy.unique())
print('Ordinal: Renew_Offer_Type', df.Renew_Offer_Type.unique())
print('Nominal: Sales_Channel', df.Sales_Channel.unique())
print('Nominal: Vehicle_Class', df.Vehicle_Class.unique())
print('Ordinal: Vehicle_Size', df.Vehicle_Size.unique())

In [ ]:
# print(df.Effective_To_Date)
df.info()

In [ ]:
sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
df.isnull().sum()

There is no missing data

# Transform data
Once you have tidy data, a common first step is to transform it. **Transformation** includes narrowing in on observations of interest (like all people in one city, or all data from the last year), creating new variables that are functions of existing variables (like computing velocity from speed and time), and calculating a set of summary statistics (like counts or means). Together, tidying and transforming are called wrangling, because getting your data in a form that’s natural to work with often feels like a fight!

In [ ]:
df.describe()

In [ ]:
df.describe(exclude=[np.number])

In [ ]:
# Betrachteter Zeitraum:
print(df.Effective_To_Date.min())
print(df.Effective_To_Date.max())

### Discription Customer

In [ ]:
# Distribution Gender
print('Count unique Customers', len(df.Customer_ID))
display(pd.DataFrame(df.Gender.value_counts()))
#Distribution Marital_Status
display(pd.DataFrame(df.Marital_Status.value_counts()))
# Education
display(pd.DataFrame(df.Education.value_counts()))
# Income
print('Max Income: ', df.Income.max())
print('Min Income: ', df.Income.min())
print('Mean Income: ', round(df.Income.mean(), 2))
print('-'*32)
# Location
display(pd.DataFrame(df.Location_Code.value_counts()))
#Employment
display(pd.DataFrame(df.Employment_Status.value_counts()))

In [ ]:
df.head()

### Description Cars

In [ ]:
# Gesamtanzahl verkaufter Autos
# Distibution: Welches Angebot wurde am meisten angenommen?
# Welche Autogröße ist am gefragtesten?
# Welcher Verkauf brachte am meisten Gewinn?

### Desciptiv Statistics
#### Measures of central trendency

# Visualize data
Once you have tidy data with the variables you need, there are two main engines of knowledge generation: visualisation and modelling. These have complementary strengths and weaknesses so any real analysis will iterate between them many times.

+ Boxplots
+ Histogramme
+ Scatter (e.g. Gender Distribution, Income in Bezug auf Ausgaben und Geschlecht, Income in Bezug auf Total_Claim_Account)
+ Gender: Verhalten im Bezug auf den Mariat_Status, Was für ein AutoType hat welches Geschlecht? => neue Variable
+ Karte mit den States mit einbauen, Anteile anzeigen, Berufsbildung, => es geht hier um eine Marketinganalyse
+ Durchschnittlicher Spending
+ Kategorisierem der Autos in einer neuen unique Variablen

**Visualisation** is a fundamentally human activity. A good visualisation will show you things that you did not expect, or raise new questions about the data. A good visualisation might also hint that you’re asking the wrong question, or you need to collect different data. Visualisations can surprise you, but don’t scale particularly well because they require a human to interpret them.

# Models
**Models** are complementary tools to visualisation. Once you have made your questions sufficiently precise, you can use a model to answer them. Models are a fundamentally mathematical or computational tool, so they generally scale well. But every model makes assumptions, and by its very nature a model cannot question its own assumptions. That means a model cannot fundamentally surprise you.

# Communication
The last step is **communication**, an absolutely critical part of any data analysis project. It doesn’t matter how well your models and visualisation have led you to understand the data unless you can also communicate your results to others.

Surrounding all these tools is **programming**. Programming is a cross-cutting tool that you use in every part of the project. You don’t need to be an expert programmer to be a data scientist, but learning more about programming pays off because becoming a better programmer allows you to automate common tasks, and solve new problems with greater ease.

Source: Wickham/Grolemund, 2016